/* 
.basicform-layout {
    margin: 20px;
} */

.flex-row {
    flex-direction: row !important; }

.justify-content-center {
    justify-content: center !important; }

.align-items-center {
    align-items: center !important;
    display: flex;
    align-items: center;
    justify-content: center;}