

.app,
app-dashboard,
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.justify-content-center {
    justify-content: center !important; }

.align-items-center {
    align-items: center !important;
    display: flex;
    align-items: center;
    justify-content: center;}

.flex-row {
        flex-direction: row !important; }

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem; }